.Topbar {
    position: absolute;
    top: 80px;
    width: 90%;
    height: 100px;
    color: white;
    background: linear-gradient(90deg, #00000088, #00000088 50%, #00000000);
    margin: auto;
    padding-left: 20px;
}

.Tagbox {
    display: flex;
    position: absolute;
    top: 70px;
    left: 100px;
}

.Scroller {
    position: absolute;
    top: 250px;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 250px);
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.Scroller::-webkit-scrollbar {
    display:none;
}