.Card {
    width: 80%;
    background-color: #00000088;
    border-radius: 15px;
    color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 25px;
    backdrop-filter: blur(10px);
}

.Seperator {
    width: 90%;
    height: 3px;
    background: linear-gradient(90deg, #FFFFFF, #00000000);
}

.Title {
    margin-left: 10px;
    margin-top: 0px;
}

.Arrow {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;

    transform: rotate(0deg);
    transition: transform .2s ease-in-out;
}

.Arrow[expanded=false] {
    transform: rotate(-90deg);
    transition: transform .2s ease-in-out;
}

.Text {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;

    opacity: 1;
    max-height: var(--max-height);
    transition: all .2s ease-in-out;
}

.Text[expanded=false] {
    opacity: 0;
    max-height: 0px;
    transition: all .2s ease-in-out;
}