.InfoTag {
    display: flex;
    background-color: #00000088;
    border-radius: 5px;
    height: 60px;
    flex-direction: row;
    margin: 10px;
    padding-right: 20px;
    font-weight: 600;
    font-size: large;
    backdrop-filter: blur(10px);
    white-space:nowrap;
}

.TagImg {
    width: 40px;
    height: 40px;
    margin: 10px;
}