.Background {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  background-image:url(../public/images/Backdrop.jpg);
  background-size: cover;
}

 /* unvisited link */
 a:link {
  color: #88BBFF;
}

/* visited link */
a:visited {
  color: #BB88FF;
}

/* mouse over link */
a:hover {
  color: #AADDFF;
}

/* selected link */
a:active {
  color: #FFFFFF;
} 



